.u-is-editing {
  background-color: $color-yellow;
  text-decoration: none;
  color: $black;
}

.u-horizontal-flex {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 1.5rem;
  }
}
