// Padding Right

.u-pr--xsm {
  padding-right: 0.75rem;
}

.u-pr--sm {
  padding-right: 1.5rem;
}

// Padding Left

.u-pl--xsm {
  padding-left: 0.75rem;
}

.u-pl--sm {
  padding-left: 1.5rem;
}

// Padding Y (Left-Right)

.u-py--xsm {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.u-py--sm {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

// Padding

.u-p--xsm {
  padding: 0.75rem;
}

.u-p--sm {
  padding: 1.5rem;
}
