html {
  font-size: 62.5%;
  box-sizing: border-box;

  // screen-hg = 100em = 1600px
  @include respond-to('min', 'screen-hg') {
    font-size: 75%;
  }

  // screen-xhg = 160em = 2560px
  @include respond-to('min', 'screen-xhg') {
    font-size: 100%;
  }
}

body {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: $color-grey-light-2;
  color: $text-primary;
}

a {
  text-decoration: none;
  color: $text-primary;
}

ul {
  list-style: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

svg {
  color: inherit;
  fill: currentColor;
}

textarea {
  resize: none;
}
