$color-primary: #2e8ae6;
$color-yellow: #fffeca;
$color-grey-light-1: #f6f6f6;
$color-grey-light-2: #f1f2f5;
$color-grey-light-3: #ddd;
$color-grey-dark-1: #545862;
$color-grey-dark-2: #333;
$white: #fff;
$black: #000;

$text-primary: $black;

$box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

$separator-line: 1px solid rgba(0, 0, 0, 0.08);

// Breakpoints
$breakpoints: (
  // 100em = 1600px
  'screen-hg': 100em,
  // 160em = 2560px
  'screen-xhg': 160em
);

$bp-types: (
  'max': max-width,
  'min': min-width,
);
