.o-task {
  &--active {
    color: rgba($black, 0.45);
    text-decoration: line-through;

    .o-task__toggle-btn {
      color: $color-primary;
      opacity: 1;

      &:hover {
        opacity: 0.85;
      }
    }
  }
}
